body {
	font-family: 'EB Garamond', Garamond, Georgia, serif;
}

ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	
	position: relative;
	width: 20em;
	height: 20em;
	background: silver;
	
	border-radius: 10em;
}
.fresh > ul {
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}

.correct > ul {
	background: rgba( 64, 64, 255, 0.25 );
}

.incorrect > ul {
	background: rgba( 255, 64, 64, 0.25 );
}


li {
	position: absolute;
	width: 0;
	height: 0;
	
	border: 0.25em solid black;
	border-radius: 0.25em;
	margin: -0.25em;
}

li > a,
li::before {
	position: absolute;
	width: 2em;
	height: 2em;
	
	border: 0.1em solid rgba( 64, 64, 255, 0.75 );
	border-radius: 2em;
	text-decoration: none;
	text-indent: -10em;
	overflow: hidden;
	
	background: rgba( 64, 64, 255, 0.25 );
} li::before {
	text-indent: 0;
	text-align: center;
	line-height: 2em;
}
	
li > a:hover {
	background: rgba( 64, 64, 255, 0.5 );
}

.pos1 {
	top: 0;
	left: 50%;
}
#mark1::before {
	content: "0";
}
.pos1::before,
.pos1 > a {
	bottom: 0.4em;
	left: 50%;
	margin-left: -1.1em;
}

.pos2 {
	top: 1.25em;
	right: 5em;
}
#mark2::before {
	content: "1#";
}
.pos2::before,
.pos2 > a {
	bottom: 0.25em;
	left: -0.35em;
}

.pos3 {
	top: 5em;
	right: 1.25em;
}
#mark3::before {
	content: "2#";
}
.pos3::before,
.pos3 > a {
	bottom: -0.3em;
	left: 0.2em;
}

.pos4 {
	top: 50%;
	right: 0;
}
#mark4::before {
	content: "3#";
}
.pos4::before,
.pos4 > a {
	top: 50%;
	left: 0.4em;
	margin-top: -1.1em;
}

.pos5 {
	bottom: 5em;
	right: 1.25em;
}
#mark5::before {
	content: "4#";
}
.pos5::before,
.pos5 > a {
	top: -0.3em;
	left: 0.2em;
}

.pos6 {
	bottom: 1.25em;
	right: 5em;
}
#mark6::before {
	content: "5#";
}
.pos6::before,
.pos6 > a {
	top: 0.25em;
	left: -0.35em;
}

.pos7 {
	bottom: 0;
	right: 50%;
}
#mark7::before {
	content: "6b/#";
}
.pos7::before,
.pos7 > a {
	top: 0.4em;
	right: 0;
	margin-right: -1.1em;
}

.pos8 {
	left: 5em;
	bottom: 1.25em;
}
#mark8::before {
	content: "5b";
}
.pos8::before,
.pos8 > a {
	top: 0.25em;
	right: -0.35em;
}

.pos9 {
	left: 1.25em;
	bottom: 5em;
}
#mark9::before {
	content: "4b";
}
.pos9::before,
.pos9 > a {
	top: -0.3em;
	right: 0.2em;
}

.pos10 {
	top: 50%;
	left: 0;
}
#mark10::before {
	content: "3b";
}
.pos10::before,
.pos10 > a {
	bottom: 0;
	right: 0.4em;
	margin-bottom: -1.1em;
}

.pos11 {
	top: 5em;
	left: 1.25em;
}
#mark11::before {
	content: "2b";
}
.pos11::before,
.pos11 > a {
	bottom: -0.3em;
	right: 0.2em;
}

.pos12 {
	top: 1.25em;
	left: 5em;
}
#mark12::before {
	content: "1b";
}
.pos12::before,
.pos12 > a {
	bottom: 0.25em;
	right: -0.35em;
}

#question,
#redraw,
#answer,
#correction {
	display: block;
	position: relative;
	text-align: center;
	width: 10em;
	margin: 0 auto;
	top: -10.5em;
}

#question {
	font-size: 2em;
	margin-top: -0.5em;
	top: -5em;
}

.correct > #question {
	color: rgba( 64, 64, 255, 0.75 );
	font-weight: bolder;
}

.incorrect > #question {
	color: rgba( 255, 64, 64, 0.75 );
	font-weight: bolder;
}

.fresh > #correction {
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}
#correction {
	opacity: 0;
}
.incorrect > #correction {
	opacity: 1;
} #correction::before {
	content: "Correct answer was: "
}

#redraw {
	border: 0.1em solid rgba( 64, 64, 255, 0.75 );
	border-radius: 0.2em;
	background: rgba( 64, 64, 255, 0.5 );
	margin-top: 1em;
	
	text-decoration: none;
}

.fresh > #redraw {
	display: none;
}

.incorrect > #redraw {
	border-color: rgba( 255, 64, 64, 0.75 );
	background-color: rgba( 255, 64, 64, 0.5 );
}


.score {

    padding: 1em;
    margin: -2em auto 0;
    border: 0.1em solid black;
    border-radius: 0.2em;
    font-weight: bold;

	width: 2ex;
	text-align: center;
	position: relative;
	left: 11em;

    background: black;
    color: white;
    text-shadow: 0 0 0 rgba( 255, 255, 255, 0), 0 0 0 rgba( 255, 255, 48, 0), 0 0 0 rgba( 255, 221, 48, 0), 0 0 0 rgba( 255, 136, 0, 0), 0 0 0 rgba( 255, 34, 0, 0);
    -webkit-transition: all 5s ease-in-out;

}

.hot {
    color: rgba( 255, 0, 0, 0.75 );
    text-shadow: 0 0 0.4em white, 0 -0.5em 0.4em #ff3, 0.2em -1em 0.6em #fd3, -0.2em -1.5em 1.1em #f80, 0.2em -2.5em 1.8em #f20;
}


.hot0 {
    text-shadow: 0 0 0 rgba( 255, 255, 255, 0), 0 0 0 rgba( 255, 255, 48, 0), 0 0 0 rgba( 255, 221, 48, 0), 0 0 0 rgba( 255, 136, 0, 0), 0.2em -2.5em 1.8em rgba( 255, 34, 0, 1);
}

.hot1 {
    text-shadow: 0 0 0 rgba( 255, 255, 255, 0), 0 0 0 rgba( 255, 255, 48, 0), 0 0 0 rgba( 255, 221, 48, 0), -0.2em -1.5em 1.1em rgba( 255, 136, 0, 1), 0.2em -2.5em 1.8em rgba( 255, 34, 0, 1);
}

.hot2 {
    text-shadow: 0 0 0 rgba( 255, 255, 255, 0), 0 0 0 rgba( 255, 255, 48, 0), 0.2em -1em 0.6em rgba( 255, 221, 48, 1), -0.2em -1.5em 1.1em rgba( 255, 136, 0, 1), 0.2em -2.5em 1.8em rgba( 255, 34, 0, 1);
}

.hot3 {
    color: rgba( 255, 0, 0, 0.75 );
    text-shadow: 0 0 0 rgba( 255, 255, 255, 0), 0 -0.5em 0.4em rgba( 255, 255, 48, 1), 0.2em -1em 0.6em rgba( 255, 221, 48, 1), -0.2em -1.5em 1.1em rgba( 255, 136, 0, 1), 0.2em -2.5em 1.8em rgba( 255, 34, 0, 1);
}

.hot4 {
    color: rgba( 255, 0, 0, 0.75 );
    text-shadow: 0 0 0.4em rgba( 255, 255, 255, 1), 0 -0.5em 0.4em rgba( 255, 255, 48, 1), 0.2em -1em 0.6em rgba( 255, 221, 48, 1), -0.2em -1.5em 1.1em rgba( 255, 136, 0, 1), 0.2em -2.5em 1.8em rgba( 255, 34, 0, 1);
}
